@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
} 
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: rgb(0, 153, 255);
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}











/* first page animation bubbles  */
/* 

.box ul li {
    position: absolute;
    width: 10px;
    height: 10px;
    list-style: none;
    opacity: 0;
    background: radial-gradient(rgb(140, 0, 255),transparent,transparent);
    bottom: 0;
    left: 10vw;
    animation: animate 15s linear infinite;
}

.box ul li:nth-child(2) {
    left: 37vw;
    animation-delay: 2s;
}

.box ul li:nth-child(3) {
    left: 25vw;
    animation-delay: 4s;
}

.box ul li:nth-child(4) {
    left: 60vw;
    animation-delay: 6s;
}
.box ul li:nth-child(5) {
    left: 75vw;
    animation-delay: 4s;
}

@keyframes animate {
    0%{
        transform: scale(0);
        opacity: 1;
        bottom: 0;
    }
    100%{
        transform: scale(10);
        opacity: 0;
        bottom: 100vh;
    }
} */

















body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% ;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0,0,0,.2);
}



.logo {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;

}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .home-img img {
    width: 35vw;
 }

 .home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    font-family: 'Times New Roman'
 }

 .home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
 }

span {
    color: var(--main-color);
}


 .home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    
 }



 .home-content p {
    font-size: 1.6rem;
    font-family: 'Times New Roman', serif;
 }

 .home-content h4 {
    font-size: 1.6rem;
    font-family: Harlow Solid Italic;
 }

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color) ;
    margin: 3rem 1.5rem 3rem 0;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}


/* about section */
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
   
}

.btn:hover {
    box-shadow: none;

}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--bg-color);
}

.about-img img {
   width: 35vw;

}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
    font-family: "Times New Roman";
}

.about-content p {
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
    font-family: "Times New Roman";
}



/* Education */

.myblogs {
    background: var(--second-bg-color);
}

.myblogs .heading {
    margin-bottom: 20px;
  }
.myblog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myblog-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  /* For centering the text */
}

/*.myblog-box img {
    width: 50%;  
    border-radius: 2rem;
   */

.myblog-layer h4 {
    font-size: 2.8rem;
    margin: 1rem 0 1rem;
    font-family: 'Copperplate Gothic Light'
}

.myblog-layer p {
    font-size: 2.0rem;
    text-align: left;
    margin-bottom: 15px;
    font-family: 'Copperplate Gothic Light';
}













/* research  */


.a1 {
    color: white; /* Change to your desired text color */
    text-decoration: underline; /* Add underline */
    font-size: 1.6rem
    font-family: 'Times New Roman'
}

/* Style for when the link is hovered */
.a1:hover {
    color: red; /* Change to your desired hover text color */
    font-size: 1.6rem
    font-family: 'Times New Roman
}


.research-content h2 {
    font-size: 2.5rem;
    margin: 1rem 0 1rem;
    font-family: 'Copperplate Gothic Light'
    
}

.research-content {
    text-align: left;
}

.research-content p {
    font-size: 1.8rem;
    margin: 1rem 0 1rem;
    font-family: 'Times New Roman';
    text-align: left;

}

/* only for photo links */

.research-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items:right;
    gap: 2.5rem;
    
}

.research-container .research-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.research-box img {
    width: 100%;
    transition: .5s ease;
}

.research-box:hover img {
    transform: scale(1.1);
}

.research-box .research-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}


.research-box:hover .research-layer {
    transform: translateY(0);
}




.research-layer h4 {
    font-size: 3rem;

}

.research-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}


.research-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;

}


.research-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}













/*workshop/schools  */

.workshop {
    background: var(--second-bg-color);
}
.a1 {
    color: white; /* Change to your desired text color */
    text-decoration: underline; /* Add underline */
    font-size: 1.6rem
    font-family: 'Times New Roman'
}

/* Style for when the link is hovered */
.a1:hover {
    color: red; /* Change to your desired hover text color */
    font-size: 1.6rem
    font-family: 'Times New Roman
}


.workshop-content h2 {
    font-size: 2.5rem;
    margin: 1rem 0 1rem;
    font-family: 'Copperplate Gothic Light'
    
}

.workshop-content {
    text-align: left;
}

.workshop-content p {
    font-size: 1.8rem;
    margin: 1rem 0 1rem;
    font-family: 'Times New Roman';
    text-align: left;

}

/* only for photo links */

.workshop-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items:right;
    gap: 2.5rem;
    
}

.workshop-container .workshop-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.workshop-box img {
    width: 100%;
    transition: .5s ease;
}

.workshop-box:hover img {
    transform: scale(1.1);
}

.workshop-box .workshop-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}


.workshop-box:hover .workshop-layer {
    transform: translateY(0);
}




.workshop-layer h4 {
    font-size: 3rem;

}

.workshop-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}


.workshop-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;

}


.workshop-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}












/* resources /


.resources {
    background: var(--second-bg-color);
}

.resources h2 {

    margin-bottom: 4rem;

}

.resources-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.resources-container .resources-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.resources-box img {
    width: 100%;
    transition: .5s ease;
}

.resources-box:hover img {
    transform: scale(1.1);
}

.resources-box .resources-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}


.resources-box:hover .resources-layer {
    transform: translateY(0);
}




.resources-layer h4 {
    font-size: 3rem;

}

.resources-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}


.resources-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;

}


.resources-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}
*/



/* gallery */
    /*
        .gallary-container {
            margin: 2rem 0 3rem;
        }

        .gallary-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            gap: 2.5rem;
        }

        .gallary-box img {
            width: 100%;
            border-radius: 30px; /* Adjust the value as per your preference 
        }

        .gallary-container .gallary-box {
            position: relative;
            border-radius: 2rem;
            box-shadow: 0 0 1rem var(--bg-color);
            
        }
        .gallary-layer h4 {
            font-size: 1.5rem;
            margin: 1rem 0 1rem;
        }
    */










/* contact */

.contact h2 {
    margin-bottom: 3rem;

}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}



.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    border: none;
    
}

.contact form .input-box input {
    width: 49%;

}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
    border: none;

}




/* footer  */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9% ;
    background: var(--second-bg-color);
    margin: 0; 
    
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .1s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}


.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);

}


/* Breakpoints */

@media (max-width: 1200px) {
    html {
        font-size: 55%;

    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
}

.section {
    padding: 10rem 3% 2rem;

}
.myblogs {
    padding-bottom: 7rem;
}
.resources {
    padding-bottom: 7rem;
}

/*.gallary {
    padding-bottom: 7rem;
}*/

.contact {
    min-height: auto;
}

.footer {
    padding: 2rem 3%;
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }

    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .resources h4 {
        margin-bottom: 3rem;

    }

    .resources-container {
        grid-template-columns: repeat(2,1fr);
    }




    .myblog-box {
        flex-direction: column;
    }







    .gallary h4 {
        margin-bottom: 3rem;

    }

    .gallary-container {
        grid-template-columns: repeat(2,1fr);
    }

}

@media (max-width: 617px) {
    .myblog-box {
        flex-direction: column;
    }
    .resources-container {
        grid-template-columns: 1fr;
    }

    .gallary-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .contact form .input-box input {
        width: 100%;
    }

    .myblog-box img {
        width: 90%;  /* Adjust as needed */
    }

}

@media (max-width: 365px) {
    .home-img {
        width: 90vw;

    }
    .myblogs-img img {
        width: 90vw;
    }
    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}





